*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

:root
{
    font-size: 62.5%;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* remove list styles only when role="list" (must specify role="list" for 
safari accessibility) */
ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

/* end of reset */

body
{
    text-align: center;
    width: 100%;
}

table
{
    gap: 2rem;
    margin: 4rem auto;
    font-size: 2rem;
    border-spacing: 2rem;
    border: .1rem solid #ccc;
}


caption 
{
    font-size: 3rem;
}

button
{
    font-size: 3rem; 
}

#book-is-read
{
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

form
{
    font-size: 3rem; 
}

.new-book-dialog[open]::backdrop {
    background-color: rgba(0, 0, 0, 0.9);  /* dark overlay covering entire screen */
}

.new-book-dialog[open]
{
    margin: auto auto;
    width: 90vw;
    height: 90vh;
}

.new-book-dialog-form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.new-book-dialog-form > * 
{
    width: 80%;
}

.new-book-dialog-form input
{
    padding-left: .5rem;
    margin-bottom: 2rem;
}
